<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div>
        <div class="mt-4 p-5 bg-success text-dark rounded container ">
            <h3 style="text-align: center;">The PDF files after  _____ are here :</h3>
            <div class="d-flex justify-content-center">
        {%for i in range(0,file_len)%}
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">PDF-->{{i+1}}</div>
                <div class="card-body">
                  <h5 class="card-title">PDF File </h5>
                  <a href="{{ url_for('download', filename=Files[i]) }}">
                      <button class="btn btn-danger">Download</button>
                </a>
                </div>
            </div>
        {%endfor%}
        </div>
        </div>

        <div class="mt-4 p-5 bg-info text-dark rounded container">
            <h3 style="text-align: center;">The Images after  _____ are here :</h3>
            <div class="d-flex justify-content-center">
        {%for i in range(0,img_len)%}
           <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Image-->{{i+1}}</div>
            <div class="card-body">
              <h5 class="card-title">PDF File </h5>
              <a href="{{ url_for('download', filename=Images[i]) }}">
                  <button class="btn btn-danger">Download</button>
            </a>
            </div>
            </div>
        {%endfor%}
        </div>
         </div>
    </div>

<!--Bootstrap Java script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>